<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign In | Weather Time Machine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cosmo/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed">
      <div class="container">
        <div class="navbar-header pull-left">
          <a class="navbar-brand" href="../">Weather Time Machine</a>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1>Sign In</h1>
      </div>
    </div>
    <div class="container">
      <div class="alert alert-danger hidden" role="alert" id="errorBanner">
      </div>
      <form action="/TimeMachine/LoginServlet" method="post">
        <fieldset>
          <div class="form-group <%= error['username'] %>">
            <label for="username">Username</label>
            <input type="text" class="form-control" autofocus placeholder="username" name="username" autocomplete="username" required="true">
          </div>
          <div class="form-group <%= error['password'] %>">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="password" name="password" autocomplete="current-password" required="true">
          </div>
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-default">Clear</button>
        </div>
      </form>
    </div>
    <script src="../js/login.js"></script>
  </body>
</html>
